* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #5ca0f2;
  background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
}

.container {
  min-height: 100%;
  height: 100%;
  top: 80px;
}

.bor1 {
  padding-left:580px;
}

.bor {
  border-style: solid;
  border-color: pink;
}

.heading {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 38px;
  color: #1A5F7A;
}

.bor2 {
  isolation: isolate;
}

.footer {
  border-color: fuchsia;
  border-style: groove;
  height: 100%;
  color: white;
}

ul {
  list-style: none;
}

.li-border {
  color: #144272;
  font-size: 14px;
}

.li-border:hover {
  color: #075a7a;
  transition: all 0.5s ease;
  cursor: pointer;
  width: 100%;
  transform: scale(1.1);
}

.dinner {
  color: black;
  font-style: oblique;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.active {
  color: #075a7a;
  font-size: 17px;
  font-weight: bold;
}

.bor3 {
  border-color: crimson;
}

.social__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

#marmari:hover {
  transform: scale(1.1);
}

#paralies:hover {
  transform: scale(1.1);
}
#tavernes:hover {
  transform: scale(1.1);
}

#kontinoi-proorismoi:hover {
  transform: scale(1.1);
}

#protaseis-gia-drast:hover {
  transform: scale(1.1);
}
