*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("images/marmaraki.jpg"); */
}

.container {
    min-height: 100%;
    height: 100%;
}

/* .first-line {
    width: 100%;
    height: 150px;
    color: black;
    background-color: orange;
   
} */


.bor {
    border-style: solid;
    border-color: blue;
    height: 85px;
}

/* h1 {
    justify-content: center;
} */

/* .main-1 {
    border-color: red;
    border-style:groove;
    align-items: end;
    justify-content: end;
    height: 520px;
    width: 50%;
  } */

   .bor1 {
    border-color: green;
    border-style: groove;
  }

  .bor2 {
    border-color: aqua;
    border-style: groove;
  }

  .footer {
    border-color: purple;
    border-style: groove;
    height: 100px;
    background-color: black;
    color: white;
  }

  /* ul {
    list-style: none;
    padding-left: 60px;
    display: inline-block;
  } */

  .restaur-title {
    color: red;
    font-style: italic;
  }

  .dinner  {
    color:black;
    font-style:oblique;
    font-size: x-large;
  }





























/* body {
    background-color:brown;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: gray;
    border: 1px solid whitesmoke;
}

h1 {
    color: whitesmoke;
}

.box-1 {
    width: 50%;
    height: 250px;
    background-color: black;
    border: 1px solid yellow;
    
} */